---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ldap-tozabbix-sync
  labels:
    app: zabbix
data:
  ZBXLDAPSYNC_LDAP_URI: "{{ env['ZBXLDAPSYNC_LDAP_URI'] }}"
  ZBXLDAPSYNC_LDAP_BIND_USER: "{{ env['ZBXLDAPSYNC_LDAP_BIND_USER'] }}"
  ZBXLDAPSYNC_GROUPS: |{{ env['ZBXLDAPSYNC_GROUPS']|indent}}
  ZBXLDAPSYNC_VALIDATE_CERTIFICATE: "{{ env['ZBXLDAPSYNC_VALIDATE_CERTIFICATE'] }}"
  ZBXLDAPSYNC_INTERVAL_SECONDS: "{{ env['ZBXLDAPSYNC_INTERVAL_SECONDS'] }}"
  ZBXLDAPSYNC_ZBX_URL: "{{ env['ZBXLDAPSYNC_ZBX_URL'] }}"
  ZBXLDAPSYNC_ZBX_USER: "{{ env['ZBXLDAPSYNC_ZBX_USER'] }}"
  ZBXLDAPSYNC_ZBX_DEFAULT_ROLE: "{{ env['ZBXLDAPSYNC_ZBX_DEFAULT_ROLE'] }}"
  ZBXLDAPSYNC_SHOW_CONF: "{{ env['ZBXLDAPSYNC_SHOW_CONF'] }}"
  ZBXLDAPSYNC_VERBOSE: "{{ env['ZBXLDAPSYNC_VERBOSE'] }}"
