---
apiVersion: v1
kind: Secret
metadata:
  name: ldap-tozabbix-sync
type: Opaque
data:
  ZBXLDAPSYNC_LDAP_BIND_PASS: {{ env['ZBXLDAPSYNC_LDAP_BIND_PASS'] }}
  ZBXLDAPSYNC_ZBX_USER_PASS: {{ env['ZBXLDAPSYNC_ZBX_USER_PASS'] }}
